body {
  height: 100%;
}

div {
  height: 100%;
}

.entry-screen {
  width: 80%;
  height: 90%;
  margin: auto;
  justify-content: center;
}

.entry-form {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  float: right;
  width: 350px;
  height: 575px;
  margin-right: 16em;
  margin-top: 3em;
}

.entry-form {
  text-align: center;
}

.session-form {
  margin: 15px;
}

.session-form input {
  padding: 9px 0 7px 8px;
  width: 80%;
  margin: 5px;
  border-radius: 1px;
  font-size: 13px;
}

.submitButton {
  color: white;
  background-color: #3D94F0;
  font-family: sans-serif;
  font-size: 14px;
  width: 84% !important
}

.title {
  font-size: 5em;
  font-family: Billabong;
  margin-top: 25px;
}

.entry-form-text {
  display: block;
  width: 200px;
  margin: auto;
  font-size: 15px;
  word-wrap: break-word;
  justify-content: center;
}

.errorMessages {
  color: red;
  font-size: 13px;
}

span a {
  text-decoration: none;
}
