.photo-stream-container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.photo-post-container {
  width: 100%;
  height: auto;
}

.photo-post {
  margin-top: 60px;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: content-box;
}

.photo-container {
  display: block;
  width: 600px;
  height: auto;
  max-height: 750px;
  background-color: inherit;
  align-items: center;
  overflow: hidden;
}

.photo-author-info {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.stream-avatar-container {
  width: 30px;
  height: 30px;
  margin: 0 14px 0 11px;
}

.stream-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.author-username a {
  font-weight: 600;
  color: black;
  font-family: Helvetica, Arial;;
  font-size: 14px;
  text-decoration: none;
}

.photo {
  width: inherit;
  height: auto;
}
