.user-profile-container {
  margin-top: 76px;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.user-profile {
  width: 950px;
  height: 100%;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.user-profile-header {
  width: 950px;
  height: auto;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
  text-align: left;
}

.user-avatar-container, .user-name, .toggleFollowButton,
.user-stats, .user-bio {
    display: inline-block;
  }

.user-avatar-container {
  width: 31%;
  height: 150px;
  min-width: 150px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  min-width: 100px;
  min-height: 100px;
  margin: 0 auto;
  position: relative;
}

.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #efefef;
}

.user-info-container {
  width: 50%;
  height: 150px;
  margin-top: 20px;
}

.info-section-1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-name {
  font-size: 28px;
  font-family: Helvetica, Arial;
  font-weight: 100;
  letter-spacing: -2px;
  width: auto;
  margin-right: 30px;
}

.grid-photo:hover {
  cursor: pointer;
}

.follow-btn, .unfollow-btn, .edit-profile-button {
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
  width: 100px;
  height: 30px;
}

.follow-btn {
  color: #ffffff;
  font-weight: 600;
  background-color: #3997f0;
  border: 1px solid #ffffff;
}

.unfollow-btn {
  color: #000000;
  background-color: #fafafa;
}

.edit-profile-button {
  color: #000000;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  font-weight: 600;
}

.info-section-2 {
  margin-bottom: 20px;
}

.user-stats {
  font-family: sans-serif;
  display: flex;
}

.stat {
  font-weight: bold;
  margin-right: 35px;
  word-spacing: 5px;
}

.user-bio {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  .user-full-name {
    font-size: 16px;
    font-weight: bolder;
  }
}

.fa-sign-out {
  margin-left: 19px;
  text-decoration: none;
  color: #000000;
}

.fa-sign-out:hover {
  cursor:pointer;
}

@media screen and (max-width: 950px) {
  .user-profile, .user-profile-header {
    width: 100%;
  }
  .user-avatar-container {
    width: 30%;
  }
  .user-info-container {
    width: 70%;
    height: 15vw;
  }
}

@media screen and (max-width: 750px) {
  .user-profile-header {
    flex-direction: column;
  }
  .user-info-container {
    width: 95%;
    height: auto;
    margin-left: 5%;
  }
  .user-avatar-container {
    margin: 0 auto;
    height: auto;
  }
  .user-avatar {
    width: 110px;
    height: 110px;
  }
}
