.fixed-header {
  height: 75px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
}

.header-bar {
  left: 300px;
  height: 100%;
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  .logo-container:hover, icons {
    cursor: pointer;
  }
}

.user-search-bar {
  width: 215px;
  height: 25px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  color: #999999;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0 0 0 8px;
  color: black;
  .fa-search {
    margin-right: 5px;
  }
}

.user-search-bar:hover {
  cursor: text;
}

.search-icon {
  margin-right: 40px;
}

.search-form-input {
  background-color: #FAFAFA;
  padding: 9px 0 7px 8px;
  width: 200px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.nav-bar {
  width: 125px;
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 150px;
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'billabong';
  font-size: 30px;
}

.header-bar a {
  text-decoration: none;
  color: black;
}
