.fixed-header {
  height: 75px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition:height .7s ease;
  * {
    z-index: 2 !important;
  }
}

.header-bar {
  left: 300px;
  height: 100%;
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  .logo-container:hover, icons {
    cursor: pointer;
  }
}

.mini-header {
  height: 50px;
  .logo {
    display: none;
  }
  .logo-container {
    margin-left: 25px;
  }
}

.user-search-bar {
  width: 215px;
  height: 27px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  background-color: #fafafa;
  color: #999999;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  padding: 0 0 0 8px;
  color: black;
  .fa-search {
    margin-right: 5px;
  }
}

.user-search-bar:focus {
  border: 1px solid gray;
  outline: none;
  background-color: #ffffff;
}

.search-icon {
  margin-right: 40px;
}

.search-form-input {
  background-color: #FAFAFA;
  padding: 9px 0 7px 8px;
  width: 200px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.nav-bar {
  width: 125px;
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
}

.logo-container {
  width: 65px;
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
  align-items: center;
  transition:all 1s ease;
}

.logo {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  margin-left: 10px;
}

.logo-icon {
  border-radius: 75%;
  img {
    width: 65px;
  }
}

.header-bar a {
  text-decoration: none;
  color: black;
}
