.photo-modal  {
  z-index: 105 !important;
  border: 1px solid red;
}

.base {
  z-index: 1 !important;
}

.overlay-default {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.75)
}

.baseClass {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

#close-button {
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2 !important;
}

#close-button:hover {
  cursor: pointer;
}
