.photo-upload-form-container {
  width: 100%;
  height: 100%;
}

.photo-upload-form {
  width: 80%;
  height: auto;
  padding-top: 5%;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}

.photo-preview-container {
  width: 45%;
  height: auto;
}

.photo-preview {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 700px;
  object-fit: cover;
}

.photo-caption-container {
  width: 45%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.update-caption-container {
  width: 75%;
  display: flex;
  overflow: hidden;
}

.user-caption {
  resize: none;
  width: 100%;
  height: 150px;
  padding: 8px;
  font-size: 14px;
  font-family: sans-serif;
}

.upload-buttons {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#file-selector {
  width: 0px;
	height: 0px;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.file-submit-button-container, .label-container {
  width: 100%;
}

.photo-upload-buttons {
  width: 100%;
  color: #ffffff;
  padding: 9px 0px;
  background-color: #3997f0;
  font-size: 15px;
  font-family: sans-serif;
  display: block;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.photo-upload-buttons:hover {
  cursor: pointer;
}

.locked {
  pointer-events: none;
  background-color: #efefef;
}

@media screen and (max-width: 900px) {
  .photo-upload-form {
    flex-direction: column;
    align-items: center;
  }

  .photo-caption-container, .photo-preview-container {
    width: 85%;
  }

  .photo-caption-container {
    height: 300px;
    margin-bottom: 50px;
  }
}
