#auth-screen-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

#auth-screen {
  display: flex;
  justify-content: space-around;
  background-color: inherit;
}

#entry-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 410px;
  height: 700px;
  margin-right: 50px;
}

#background-photo {
  position: relative;
}

#pxlg-img-container {
  position: absolute;
  width: 59%;
  height: 67%;
  right: 8%;
  top: 17%;
}

#pxlg-img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 700px;
}

.auth-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 350px;
  text-align: center;
  border: 1px solid #e6e6e6;
}

.auth-form-container {
  height: auto;
  padding: 25px 0;
}

#alternate-form {
  height: 75px;
  margin-top: 10px;
  justify-content: center;
}

.auth-form {
  padding: 15px;
}

.auth-form-input {
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  width: 80%;
  margin: 5px;
  font-size: 13px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: #999999;
}

.auth-form-input:focus {
  border: 1px solid gray;
  outline: none;
}

.submit-button {
  color: #FFFFFF;
  padding: 9px 0 7px 8px;
  margin: 5px;
  background-color: #3997f0;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  font-family: sans-serif;
  font-size: 14px;
  width: 84%
}

#pxlg-title {
  font-size: 4em;
  font-family: 'Leckerli One', cursive;
  margin: 20px 0;
}

.auth-text {
  display: block;
  width: 260px;
  justify-content: center;
  font-family: sans-serif;
  color: #999999;
  line-height: 20px;
}

#form-toggle-text {
  color: #262626;
}

#form-toggle-link {
  color: #3699f2;
}

.error-messages {
  color: red;
  font-size: 14px;
  font-family: sans-serif;
  padding: 3px;
  text-align: center;
}

#pxlg-policy-text {
  font-weight: 600;
}

.submit-button:hover, #form-toggle-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #entry-photo-container {
    display: none;
  }
  #auth-form-container {
  }
}
