.photo-upload-form-container {
  width: 100vw;
  height: 80vh;
}

.photo-upload-form {
  width: 80%;
  height: auto;
  padding-top: 25px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.photo-preview {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 700px;
  object-fit: cover;
}

.photo-preview-container {
  width: 45%;
  height: auto;
}

.form-container {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
}

.form-banner {
  width: 850px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: center;
  display: flex;
}

.photo-caption-container {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-caption-container {
  width: 75%;
  display: flex;
  overflow: hidden;
}
.user-caption {
  resize: none;
  width: 100%;
  height: 150px;
  padding: 8px;
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

.file-selector {
  margin-bottom: 30px;
  border: 1px solid red;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-submit-button-container, .label-container {
  width: 75%;
}

.file-label {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  background-color: #3997f0;
  display: block;
  width: 97%;
  border-radius: 5px;
  padding: 9px 0 9px 10px;
  text-align: center;
  margin-bottom: 10px;
}

.file-submit-button {
  color: #FFFFFF;
  padding: 9px 0 7px 8px;
  background-color: #3997f0;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
}
.file-submit-button:hover, .file-label:hover {
  cursor: pointer;
}
