.photo-stream-container {
  width: 600px;
  height: 100%;
  margin: 100px auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.photo-post-container {
  width: 100%;
  height: auto;
}

.photo-post {
  margin-bottom: 60px;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: content-box;
}

.photo-container {
  display: block;
  width: 100%;
  height: auto;
  max-height: 750px;
  background-color: inherit;
  align-items: center;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 750px;
  object-fit: cover;
}

.photo-author-info {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
}

.stream-avatar-container {
  width: 30px;
  height: 30px;
  margin: 0 14px 0 11px;
}

.stream-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.author-username a, .comment a {
  font-weight: 600;
  color: black;
  font-family: Helvetica, Arial;
  font-size: 14px;
  text-decoration: none;
  margin-right: 5px;
}

// ###### BELOW PHOTO #######

.photo-info-container {
  padding: 0 10px 3px 10px;
  font-family: sans-serif;
}

.icon-container {
  height: 24px;
  display: flex;
  width: 70px;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 5px;
  position: relative;
}

.likes-icon, .liked-icon {
  position: absolute;
  left: 0px;
  bottom: 6px;
  z-index: 0;
}

.liked-icon {
  color: red;
}

.hidden {
  display: none !important;
}

.comments-icon {
  position: absolute;
  right: 11px;
  bottom: 8px;
  z-index: 0;
}

.like-count {
  font-size: 13px;
  font-weight: 600;
}

.comments-container {
  margin: 10px 0;
  flex-grow: 1;
  overflow-y: hidden;
}

.photo-comments {
  max-height: 150px;
  overflow-y: auto;
  line-height: normal;
}

.caption-username {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  a {
    text-decoration: none;
    color: #000000;
  }
}

.caption {
  font-size: 14px;
  height: auto;
}

.likes-icon:hover, .comments-icon:hover, .liked-icon:hover {
  cursor: pointer;
}

// ###### COMMENTS #######

.add-comment-input {
  width: 90%;
  min-height: 32px;
  border: none;
  outline: none;
  font-size: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.comment {
  position: relative;
  padding-right: 4%;
}

#delete-comment-button {
  position: absolute;
  top: 1px;
  right: 2px;
  color: #afafaf;
}

.comment-body {
  font-size: 14px;
  font-family: sans-serif;
}

.photo-creation-timestamp {
  font-size: 11px;
  color: #afafaf;
  padding-bottom: 6px;
  letter-spacing: .2px;
}

.comment-form-container {
  border-top: 1px solid #efefef;
}

@media screen and (max-width: 600px) {
  .photo-stream-container {
    width: 100%;
  }
  .photo, .photo-container {
    max-height: 125vw;
  }
}
