#close-button {
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2 !important;
}

.overlay-base {
  z-index: 1 !important;
}

.overlay-default {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.7)
}

.baseClass {
  display: flex;
  position: relative;
  max-width: 935px;
  width: auto;
  height: auto;
  max-height: 80%;
  margin: auto;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  outline: none;
}

#modal-container {
  position: relative;
  display: flex;
  width: 100%;
}

#modal-photo-container {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  min-width: 480px;
  min-height: 480px;
  max-width: 600px;
  overflow: hidden;
  background-color: #000;
  justify-content: center;
}

#modal-photo {
  width: auto;
  height: auto;
  min-width: 480px;
  max-width: 600px;
  max-height: 750px;
  object-fit: cover;
}

#modal-photo-information {
  width: 335px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  .comments-container {
    border-bottom: 1px solid #efefef;
    overflow-y: auto;
  }
  .photo-comments {
    max-height: calc(100% - 193px);
  }
  .like-count {
    padding-bottom: 6px;
  }
}
