.fixed-header {
  display: block;
  height: 75px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  * {
    z-index: 2 !important;
  }
}

.header-bar {
  left: 300px;
  height: 100%;
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  .logo-container:hover, icons {
    cursor: pointer;
  }
}

.fixed-header.mini-header {
  transition: height .7s linear;
  height: 50px;
  .logo {
    display: none;
  }
  .logo-container {
    margin-left: 25px;
  }
  // .search-results-list {
  //   left: 49%;
  // }
}

.user-search-bar {
  width: 215px;
  height: 27px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #999;
  background-color: #fafafa;
  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  padding: 0 8px 0 8px;
  text-align: center;
  .fa-search {
    margin-right: 5px;
  }
}

.user-search-bar:focus {
  text-align: left;
  color: black;
  outline: none;
  background-color: #ffffff;
}

.search-results-container {
  position: fixed;
  width: 100%;
}

.search-results-list {
  position: absolute;
  min-width: 225px;
  height: auto;
  left: 48%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.results {
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding-left: 5px;
}

.search-results-list li:nth-child(2n+1) {
  background-color: green;
}

.search-form-input {
  background-color: #FAFAFA;
  padding: 9px 0 7px 8px;
  width: 200px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.nav-bar {
  width: 125px;
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
}

.logo-container {
  width: 65px;
  display: flex;
  vertical-align: bottom;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  margin-left: 10px;
}

.logo-icon {
  border-radius: 75%;
  img {
    width: 65px;
  }
}

.header-bar a {
  text-decoration: none;
  color: black;
}
