.entry-screen-container {
  width: 60%;
  height: 700px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  background-color: inherit;
}

.entry-photo-container {
  width: 410px;
  height: 700px;
}

.entry-form-container {
  width: 350px;
  height: 700px;
  margin-left: 50px;
}

.background-photo {
  margin-top: 2em;
  position: relative;
}

.main-entry-form {
  background-color: #fff;
  position: relative;
  width: 350px;
  text-align: center;
  border: 1px solid #e6e6e6;
  margin-top: 4em;
}

#main-form {
  height: auto;
  padding-bottom: 20px;
}

#alternate-form {
  height: 75px;
  margin-top: 10px;
}

.pxlgram-photo {
  position: absolute;
  width: 247px;
  height: 429px;
  right: 33px;
  top: 110px;
}

.pxlgram-photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entry-form {
  margin: 15px;
}

.session-form-input {
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  width: 80%;
  margin: 5px;
  font-size: 13px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: #999999;
}

.session-form-input:focus {
  border: 1px solid gray;
  outline: none;
}

.submitButton {
  color: #FFFFFF;
  padding: 9px 0 7px 8px;
  margin: 5px;
  background-color: #3997f0;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  font-family: sans-serif;
  font-size: 14px;
  width: 84% !important
}

.submitButton:hover {
  cursor: pointer;
}

.title {
  font-size: 4em;
  font-family: 'Leckerli One', cursive;
  margin-top: 25px;
}

.entry-form-text, .alternate-form-text {
  display: block;
  width: 220px;
  margin: auto;
  font-size: 15px;
  word-wrap: break-word;
  justify-content: center;
  font-family: sans-serif;
  color: gray;
  line-height: 20px;
}

.alternate-form-text {
  color: #262626;
  margin-top: 25px;
  a {
    text-decoration: none;
    color: #3699f2;
  }
}

.errorMessages {
  color: red;
  font-size: 14px;
  font-family: sans-serif;
  padding: 3px;
}

.policy-terms {
  font-weight: 600;
  color: #999999;
}
