.edit-page-container {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.edit-page {
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 30px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 5px;
  .avatar {
    box-sizing: border-box;
    border: 1px solid #efefef;
  }
}

#avatar-file-selector {
  width: 100%;
	height: 100%;
	opacity: 0;
  border-radius: 50%;
  position: absolute;
}

#avatar-file-selector:hover {
  cursor: pointer;
}

.user-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 10px 0;
}

.edit-section {
  width: 95%;
  display: flex;
}

.form-field {
  position: relative;
  width: 200px;
  height: auto;
  text-align: right;
  margin-top: 14px;
  padding-right: 30px;
  label {
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
  }
}

.edit-form-input {
  background-color: #fafafa;
  padding: 9px 8px;
  width: 100%;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

#bio-input {
  resize: none;
  height: 100px;
}

.user-errors {
  align-items: center;
  width: 300px;
}

.success-message {
  color: green;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 3px;
  text-align: center;
}

.success-message.hidden {
  opacity: 0;
  transition: opacity 2s linear;
}

.edit-page-buttons-container {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  margin-top: 10px;
}

.edit-page-buttons {
  width: 100%;
  color: #ffffff;
  padding: 9px 0px;
  background-color: #3997f0;
  font-size: 15px;
  font-family: sans-serif;
  display: block;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}
