.user-profile-container {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.user-profile {
  width: 950px;
  height: 100%;
  padding-top: 50px;
  margin: 0 auto;
}

.user-profile-header {
  width: 950px;
  height: 175px;
  display: flex;
  margin-bottom: 30px;
}

.user-avatar-container, .user-photos, .user-name, .toggleFollowButton,
.user-stats, .user-bio {
    display: inline-block;
  }

.user-avatar-container {
  width: 300px;
  height: 150px;
  min-width: 150px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  .avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.user-info-container {
  width: 650px;
  height: 150px;
}

.info-section-1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-name {
  font-size: 28px;
  font-family: Helvetica, Arial;
  font-weight: 100;
  letter-spacing: -2px;
  width: auto;
  margin-right: 30px;
}

.user-photo:hover,
.toggle-follow-button:hover,
.edit-profile-button:hover {
  cursor: pointer;
}

.toggle-follow-button, .edit-profile-button {
  padding: 0 auto;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 12px;
}

.toggle-follow-button {
  width: 90px;
  height: 30px;
  color: #ffffff;
  background-color: #3997f0;
  border: 1px solid #ffffff;
}

.edit-profile-button {
  width: 125px;
  height: 35px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #efefef;
  font-size: 14px;
  font-family: sans-serif;
}

.info-section-2 {
  margin-bottom: 20px;
}

.user-stats {
  width: 320px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  .stat {
    font-weight: bold;
  }
}

.user-bio {
  width: 320px;
  .user-full-name {
    font-size: 15px;
    font-weight: bolder;
  }
}

.user-photos-container {
  padding-top: 50px;
  border-top: 1px solid #efefef;
  width: 950px;
  height: auto;

}

.user-photos {
  width: 950px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.user-photo {
  width: 290px;
  height: 290px;
  margin-bottom: 25px;
  margin-right: 18px;
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  vertical-align: middle;
}

.user-photo-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

.fa-sign-out {
  margin-left: 19px;
  text-decoration: none;
  color: #000000;
}

.fa-sign-out:hover {
  cursor:pointer;
}
