<!DOCTYPE html>
<html>
  <head>
    <title>pxlg</title>
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon"></link>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
